@import 'src/styles/variables';

.header {
  margin: 0 auto 150px;
  //font-size: calc(1rem + 3vw);
  font-size: $header-lg;
  padding: 1rem 3rem;
  text-align: center;
  width: fit-content;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  //width: 65%;

  width: fit-content;
  padding: 50px;
  //margin: 0 auto 50px;
  margin: 0 10rem;
  gap: 60px;
}
.subheader {
  //font-size: calc(1rem + 2vw);
  font-size: $subheader-lg;
  font-weight: bold;
}
.text {
  //font-size: calc(1rem + 0.75vw);
  font-size: $text-lg;
}
.profiles {
  display: flex;
  justify-content: space-around;
  margin: 10rem 0;
}

.profile {
  border-radius: 25px;
  width: calc(5rem + 30vw);
}
@media (max-width: $phone-screen-small) {
  .header {
    //width: 90%;
    width: fit-content;
    font-size: $header-sm;
  }
  .subheader{
    font-size: $subheader-sm;
  }
  .text{
    font-size: $text-sm;
  }
  .content {
    //width: 90%;
    width: fit-content;
    //gap: 40px;
    gap: 2rem;
    padding: 2rem;
    margin: 0 1rem;
  }
  .profiles {
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    gap: 15vw;
  }
  .profile {
    width: 90%;
    //margin-bottom: 15vw
  }
}
