.header
  margin: 2% auto 10%
  font-size: calc(1rem + 3vw)
  padding: .9rem
  text-align: center
  width: 20%

.content
  display: flex
  flex-direction: column
  text-align: center
  width: 65%
  padding: 50px
  margin: 0 auto 50px
  gap: 45px

.subheader
  font-size: calc(1rem + 2vw)
  font-weight: bold

.text
  font-size: calc(1rem + 0.75vw)

.profiles
  display: flex
  justify-content: space-around
  margin: 10rem 0

.profile
  border-radius: 25px
  width: calc(5rem + 30vw)