
.sliderStyles {
  height: 100%;
  width: 100%;
  position: relative;
}
.slideStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 15px 5px;
  border-radius: 25px;
  font-size: calc(10px + 3vw);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;

  &:hover {
    background-color: black;
}
  &Left {
    left: 2.25vw;
}
  &Right {
    right: 2.25vw;
}
}