@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply py-4 text-4xl font-black text-gray-800;
  }

  .button {
    @apply custom-focus rounded-full border-2 border-green-400 bg-white px-8 py-2 font-bold text-green-400 hover:bg-green-400 hover:text-white focus:bg-green-400 focus:text-white;
  }

  .button-inverse {
    @apply custom-focus rounded-full border-2 border-white bg-green-400 px-8 py-2 font-bold text-white hover:border-green-400 hover:bg-white hover:text-green-400 focus:border-green-400 focus:bg-white focus:text-green-400;
  }

  .card {
    @apply column min-w-[20rem] items-center gap-8 rounded-2xl bg-white py-8 px-4 shadow-md sm:min-w-[24rem] sm:px-10;
  }

  .column {
    @apply flex flex-col items-start justify-center gap-4;
  }

  .custom-focus {
    @apply focus:border-green-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2;
  }

  .heading {
    @apply text-lg font-semibold text-gray-700;
  }

  .highlight {
    @apply ml-1 rounded-lg bg-gray-100 p-2 font-mono;
  }

  .error {
    @apply w-full text-center text-red-600;
  }

  .input {
    @apply custom-focus w-full rounded-xl border border-slate-300 focus:shadow-none;
  }

  .link {
    @apply custom-focus rounded-md font-semibold text-green-400;
  }

  .row {
    @apply flex flex-row items-center justify-start gap-1;
  }
}



html {
  margin: 0;
  padding: 0;
}
body {
  background: #000404 url(/images/Banner1.png) no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.contentBox {
  background-color: rgb(34, 0, 1);
  border-radius: 25px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.loading {
  width: 30%;
  font-size: 50px;
  padding: 30px 15px;
  text-align: center;
  margin: 0 auto;
}
