@import 'src/styles/variables';

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.header {
  text-align: center;
  margin: 2% auto 10%;
  padding: 1rem;
  font-size: calc(1rem + 3vw);
  width: 30%;
}
.content {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;

  ul {
    display: flex;
    flex-direction: column;
    font-size: calc(1rem + 0.25vw);
    gap: 0.5rem;
  }
}
.subtext {
  font-size: calc(1rem + 0.05vw);
}
.subheader {
  text-align: center;
  font-size: calc(1rem + 1vw);

  a {
    text-decoration: none;
  }
}
@media (max-width: $phone-screen-small) {
  .wrapper {
    flex-direction: column;
  }
  .header {
    width: 70%;
  }
  .content {
    width: 90%;
    margin: 0 auto 5rem;
  }
}
