
.footer {
  background-color: #220001;
  padding: 3rem 0;
  font-family: 'Poppins', sans-serif;
  font-size: calc(1rem + .1vh);
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: underline;
    text-underline-offset: 5.5px;
    color: white;

    &:hover {
      color: #CA080D;
  }
}
}