@import "src/styles/variables";

.projects {
  font-family: 'Oswald', serif;
  font-size: calc(1rem + 0.3vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
  margin-bottom: 15vw;
  margin-top: 200px;
  row-gap: 200px;
}
@media (max-width: $phone-screen-small) {
  .projects {
    flex-direction: column;
  }
};