@import "src/styles/variables";


.projectItem {
  display: flex;
  flex-direction: column;
}
.image {
  width: 350px;
  height: 250px;
  border-radius: 10px;
}
.name {
  color: white;
  margin-top: 1rem;
}

.projectBox{
  padding: 10px 15px;
}
@media (max-width: $phone-screen-small) {
  .projectItem {
    margin: 0 auto;
  }
  .projectBox{
    width: fit-content;
    margin: 0 auto;
  }
};